* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
.wrapper {
  margin: 0;
  padding: 0;
  position: relative;
}
.container {
  position: relative;
  z-index: 1;
}
.board {
  display: grid;
  grid-auto-rows: 100px;
  grid-auto-columns: 100px;
}

.row-0 {
  grid-row: 1/2;
}

.row-1 {
  grid-row: 2/3;
}

.row-2 {
  grid-row: 3/4;
}

.cell {
  background-color: #4d76ff;
  border: solid black 2px;
}
.cell:hover {
  background-color: #7291f7;
}

/* --------- body cover ------------*/

.coverDiv {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
}
