* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-color: rgb(230, 230, 230);
}
.wrapper {
  margin: 0;
  padding: 0;
  position: relative;
}

/* ------------ board -------------*/
.container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.board {
  margin-top: 5%;
  display: grid;
  grid-auto-rows: 130px;
  grid-auto-columns: 130px;
}

.row-0 {
  grid-row: 1/2;
}

.row-1 {
  grid-row: 2/3;
}

.row-2 {
  grid-row: 3/4;
}

.cell {
  background-color: #3463ff;
  border: solid black 2px;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  color: #fcff34;
}
.cell:hover {
  background-color: #7291f7;
}

/* --------- body cover ------------*/

.coverDiv {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgba(43, 43, 43, 0.568);
}

.winnerContainer {
  padding: 0px;
  padding: 5px;
  background-color: rgb(39, 76, 199);
  width: 40ch;
  height: 20%;
  border-radius: 4px;
  margin-top: 12%;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: solid rgb(255, 255, 255) 3px;
}

.winnerContainer > p {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: #f5bd23;
}

.winnerContainer > button {
  background-color: #f5bd23;
  width: 20ch;
  height: 35px;
  border: solid black 3px;
  border-radius: 10px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1rem;
}
.winnerContainer > button:hover {
  background-color: #f2f523;
}
